body{
                font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
                font-weight: bold;
                min-height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0;
                font-size: 13px;
                background: rgb(255, 255, 255);
            }
            .textbox{
                border: 0;
                box-shadow: 0 0px 6px rgb(218, 218, 218);
                animation: smoothChange1 10s linear infinite;
                transition: 0.3s;
                display: block;
                height: 40px;
                width: 205px;
                border-radius: 20px;
                margin: 5px;
            }
            .picture {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            }
            .picture img {
            max-width: 200px;
            height: auto;
            border-radius: 20px;
            }
            .textbox1:hover{
                width: 210px;

            }
            .textbox:hover{
                width: 210px;
            }
            .textbox1{
                border: 0;
                box-shadow: 0 0px 6px rgb(218, 218, 218);
                transition: 0.3s;
                display: block;
                height: 40px;
                width: 205px;
                border-radius: 20px;
                margin: 5px;
            }
            .button{
                box-shadow: 0 0px 6px rgb(218, 218, 218);
                border: 0;
                transition: 0.3s;
                cursor: pointer;
                display: block;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: white;
                margin: 10px;
                height: 40px;
                width: 90px;
                border-radius: 20px;
                background-color: pink;
                margin: 5px;
            }
            .button:hover{
                animation: smoothChange 10s infinite;
                border: 0;
                width: 100px;

            }

            .button1{
            box-shadow: 0 0 5px 1px rgba(212, 212, 212, 0.5);
            animation: smoothChange2 infinite linear;
            border: 0;
            transition: 0.3s;
            cursor: pointer;
            display: flex;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: rgb(255, 255, 255);
            height: 40px;
            width: 120px;
            background-color: pink;
            border-radius: 20px;
            margin: 5px;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            }
            .button1:hover{
                color: white;
                border: none;
                width: 130px;
                animation: smoothChange 10s infinite;
}

@keyframes smoothChange {
    0% { background-color: rgba(255, 192, 203); box-shadow: 0 0px 15px 5px rgba(255, 192, 203);} 
            16% { background-color: rgba(255, 232, 190); box-shadow: 0 0px 15px 5px rgba(255, 232, 190);}
            33% { background-color: rgba(255, 255, 195); box-shadow: 0 0px 15px 5px rgba(255, 255, 195);}
            50% { background-color: rgba(187, 253, 187); box-shadow: 0 0px 15px 5px rgba(187, 253, 187);}
            66% { background-color: rgba(190, 255, 255); box-shadow: 0 0px 15px 5px rgba(190, 255, 255);}
            83% { background-color: rgba(189, 189, 253); box-shadow: 0 0px 15px 5px rgba(189, 189, 253);}
            100% { background-color: rgba(253, 187, 253); box-shadow: 0 0px 15px 5px rgba(253, 187, 253);}
}

@keyframes smoothChange2 {
    0% { background: pink; opacity: 0.2} 
    16% { background: rgb(255, 232, 190); opacity: 0.2}
    33% { background: rgb(255, 255, 195); opacity: 0.2}
    50% { background: rgb(187, 253, 187); opacity: 0.2}
    66% { background: rgb(190, 255, 255); opacity: 0.2}
    83% { background: rgb(189, 189, 253); opacity: 0.2}
    100% { background: rgb(253, 187, 253); opacity: 0.2}
}

            .buttons{
                display: flex;
                justify-content: center;
            }
            .textboxes{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .textbox::placeholder{
                text-align: center;
                color: rgb(201, 201, 201);
                text-align:center;
            }
            .textbox1::placeholder{
                text-align: center;
                color: rgb(201, 201, 201);
                text-align:center;
            }
            .terminator{
                align-items: center;
                display:flex;
                justify-content: center;
                color: pink;
                background-color: white;
                border-radius: 20px;
                height: 37px;
                width: 80px;
                margin: 5px;
            }
            .radio-group{
                transition: 0.3s;
                cursor: pointer;
                margin: 5px;
                color: pink;
                border-color: pink;
                accent-color: pink;
            }

            .radio-label {
            display: inline-flex;
            align-items: center;
            gap: 5px;
            margin-right: 15px;
            cursor: pointer;
            flex-direction: column;
            }

            .radio {
                cursor: pointer;
                margin: 0;
            }

            .checkbox-label{
                margin: 5px;
                color: pink;
                border-color: pink;
                cursor: pointer;
                accent-color: pink;
            }

            .checkbox {
            flex-direction: column;
            width: 15px;
            cursor: pointer;
            margin: 0;
            margin-right: 5px;
            }

            .date1 {
            transition: 0.3s;
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 5px;
            color: pink;
            font-weight: bold;
            }

            .date:hover {
                width: 190px;
                
            }

            .date {
            animation: smoothChange1 10s linear infinite;
            transition: 0.3s;
            transition: 0.3s;
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 5px;
            border: 2px solid pink;
            border-radius: 20px;
            height: 20px;
            width: 180px;
            padding: 8px 12px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            background-color: white;
            color: pink;
            }

            .range{
                height: 5px;
                color: pink;
                accent-color: pink;
                width:150px;
            }

            .checkbox:hover{
                transform: scale(1.1);
                transition: transform 0.2s ease;
            }
            .radio:hover {
            transform: scale(1.1);
            transition: transform 0.2s ease;
            }